*.mlx binary
*.mat binary
*.fig binary
*.p binary
*.slx binary
*.mdl binary
*.mdlp binary
*.slxp binary
*.sldd binary
*.mexa64 binary
*.mexw64 binary
*.mexmaci64 binary
*.prj binary
*.mltbx binary
*.xlsx binary
*.docx binary
*.pdf binary
*.jpg binary
*.png binary
*.jpeg binary
*.tiff binary
*.tif binary
*.icc binary
*.fig binary
*.m text
*.c text
*.h text
*.html text
